[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
requests = "*"
beautifulsoup4 = "*"
lxml = "*"
cryptography = "==2.9"
pyopenssl = "*"
netifaces = "*"
pycryptodome = "*"

[requires]
python_version = "3.8"
